*.a
*.app
*.aps
*.dll
*.dylib
*.exe
*.ipch
*.la
*.lai
*.lib
*.lo
*.o
*.obj
*.opensdf
*.out
*.slo
*.so
*.suo
*.user
*.pdb
*.sdf
/.vs
/intermediate/
/exe/*.ilk
exe/*.log
src/app.vcxproj.filters
exe/*.ini
/tmp/
/exe/.env
/.env
