*.a
*.app
*.aps
*.dll
*.dylib
*.exe
*.ipch
*.la
*.lai
*.lib
*.lo
*.o
*.obj
*.opensdf
*.out
*.slo
*.so
*.suo
*.user
*.pdb
*.sdf
/.vs
/intermediate/
/exe/*.ilk
Exe/*.log
src/Rethinkify.vcxproj.filters
src/debug_trace.log
debug_trace.log
Exe/*.ini
